* {
    font-family: sans-serif;
}

.container {
    padding: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

h3 {
    text-align: center;
}

table {
    border: solid 1px lightgrey;
    border-collapse: collapse;
}

td {
    width: 150px;
    border: solid 1px lightgrey;
    padding: 10px;
    padding-left: 40px;
}

td.value {
    width: 400px;
    font-size: 16px;
}

form {
    margin: auto;
    width:630px;
}

table {
    padding: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

select {
    width: 100%;
    height: 30px;
    font-size: 16px;
}

input[type=text] {
    width: 98%;
    height: 25px;
    font-size: 16px;
}

input[type=date] {
    width: 100%;
    height: 25px;
    font-size: 16px;
}

input[type=button] {
    width: 100%;
    height: 30px;
    margin-top: 10px;
}

label.block {
    display: block;
    padding-bottom: 5px;
}

div {
    width: 100%;
}

div.row {
    display: flex;
}

div.column {
    margin: 10px;
}