* {
    font-family: sans-serif;
}

.user {
    display: flex;
    align-items: center;
}

form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.row {
    display: flex;
}

.error {
    display: inline-block;
    text-align: end;
    color: darkred;
}

.column {
    padding: 10px;
}

label {
    margin-bottom: 5px;
    width: 100%;
    font-weight: bold;
}

input, select {
    width: 250px;
    height: 30px;
    box-sizing: border-box;
    border: solid 1px #ccc;
    border-radius: 5px;
}

select {
    background-color: white;
}

header {
    display: flex;
    flex-flow: row-reverse;
}


a {
    font-size: 20px;
    padding: 10px;
}

h1 {
    text-align: center;
}

input[type=submit] {
    width: 100%;
    height: 30px;
    padding: 5px;
    font-size: 14px;
}