* {
    font-family: sans-serif;
}

.container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

form {
    display: inline-block;
}

.search_box {
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 10px;
}

.row {
    margin: 10px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: 250px;
    height: 100%;
    margin: 5px;
    border: solid 1px #ccc;
    border-radius: 10px;
    transition: ease 1s 0s;
}

.item:hover {
    border: solid 1px #858585;
    width: 260px;
}

.buttons {
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
    justify-content: center;
}

.pag_btn {
    width: 32px;
    height: 32px;
    border-radius: 0px;
}

.pag_btn:first-child {
    border-radius: 5px 0px 0px 5px;
}

.pag_btn:last-child {
    border-radius: 0px 5px 5px 0px;
}

.hidden {
    display: none;
}

h3 {
    text-align: center;
}

a {
    display: block;
    text-align: center;
    height: 20px;
    margin: 5px;
}

p {
    font-style: italic;
    margin: 20px;
    color: rgb(49, 85, 206);
}

select, button, input {
    box-sizing: border-box;
    border: solid 1px #ccc;
    border-radius: 5px;
}

input {
    padding: 5px;
}

label {
    display: inline-block;
    width: 40px;
}

input, select {
    width: 200px;
}

select {
    padding: 5px;
}

button {
    width: 100%;
    padding: 5px;
}

img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}